.loader-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--background));
}

.loader-container {
  display: grid;
  place-items: center;
}

.cup {
  background-color: hsl(var(--primary));
  transform: translateY(calc(100vh / 6));
  position: relative;
  display: grid;
  border-radius: calc(100vh / 18) calc(100vh / 18) calc(100vh / 6) calc(100vh / 6);
  height: calc(100vh / 4);
  width: calc(100vh / 3);
}

.cup__handler {
  background-color: hsl(var(--background));
  transform: translate(62.5%, -18.75%);
  position: absolute;
  place-self: center end;
  border-radius: calc(100vh / 9) calc(100vh / 18) calc(100vh / 9) calc(100vh / 14.4);
  border: calc(100vh / 72) solid hsl(var(--primary));
  border-left-width: calc(100vh / 36);
  height: calc(100vh / 7.2);
  width: calc(100vh / 7.2);
}

.cup__steam {
  background-color: hsl(var(--primary) / 0.3);
  transform: translateY(calc(-100vh / 4));
  position: absolute;
  border-radius: calc(100vh / 7.2) calc(100vh / 14.4);
  height: calc(100vh / 6);
  place-self: start center;
  width: calc(100vh / 9);
}

.cup__steam-flow {
  background-color: hsl(var(--background));
  animation: steam-flow 1s linear infinite;
  height: calc(100vh / 36);
  top: 0;
  position: absolute;
  right: 0;
  left: 0;
}

.cup__steam-flow::before,
.cup__steam-flow::after {
  content: '';
  height: calc(100vh / 36);
  position: absolute;
  right: 0;
  left: 0;
}

.cup__steam-flow::before {
  transform: translateY(100%);
  border-radius: calc(100vh / 72) calc(100vh / 72) 0 0;
  bottom: 0;
  box-shadow: 0 calc(-100vh / 72) 0 0 hsl(var(--background));
}

.cup__steam-flow::after {
  transform: translateY(-100%);
  border-radius: 0 0 calc(100vh / 72) calc(100vh / 72);
  top: 0;
  box-shadow: 0 calc(100vh / 72) 0 0 hsl(var(--background));
}

@keyframes steam-flow {
  from {
    transform: translateY(calc(100vh / 5.14));
  }
  to {
    transform: translateY(calc(-100vh / 36));
  }
}
